{% extends "layout.html" %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
<!--            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Customers and products -->
            <div class="container-fluid">

              <!-- Page Heading -->
    <!--          <h1 class="h3 mb-2 text-gray-800">Tables</h1>-->
    <!--          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>-->

              <!-- Customers -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Customers</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Contact Person</th>
                          <th>Organization</th>
                          <th>Owner</th>
    <!--                      <th>Age</th>-->
    <!--                      <th>Start date</th>-->
    <!--                      <th>Salary</th>-->
                        </tr>
                      </thead>

                      <tbody>
                        {% for person in persons %}
                          <tr>
                            <td>{{ person.id }}</td>
                            <td>{{ person.name }}</td>
                            <td>{{ person.org_name }}</td>
                            <td>{{ person.owner_name }}</td>
<!--                            <td>-->
<!--                              <a class="btn btn-sm btn-info" href="">Update</a>-->
<!--                              <a class="btn btn-sm btn-danger" href="">Delete</a>-->
<!--                            </td>-->

                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

    <!--          Products-->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Products</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Product Code</th>

                        </tr>
                      </thead>

                      <tbody>
                        {% for product in products %}
                          <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.id }}</td>

<!--                            <td><a class="btn btn-sm btn-info" href="/update_order/3/">Update</a></td>-->
<!--                            <td><a class="btn btn-sm btn-danger" href="/delete_order/3/">Delete</a></td>-->
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-4 col-lg-5">
            </div>

          </div>
          </div>
        </div>

{% endblock %}